.clear {
  clear: both;
}

.hero {
  padding: 130px 0 350px 0;
}

.hero .text-center {
  background-color: rgba(0,0,0,.9);
  padding-top: 1px;
  padding-bottom: 1px;
}

.hero p {
  font-size: 16pt;
}

.hero .hi {
  color: #C1D72E;
  letter-spacing: 2px;
}

.hero .name {
  color: #fff;
  letter-spacing: 4px;
}

.hero .help {
  color: #F72621;
  letter-spacing: 2px;
}

.story.intro p {
  color: #555;
}

.donations p {
  margin: 1em;
}

.donations .accent {
  color: #FFD600;
  font-weight: bold;
}

.donation-btn {
  border-radius: 6px;
  padding: 10px 16px;
  background-color: rgb(255, 169, 38);
  border: 0;
}
.full-video {
  width: 100%;
}

.ignite-cta h1 {
  color: #fff;
}

.section-padding {
  padding: 25px 0;
}

.avatar {
  vertical-align: center;
  width: 50px;
  border-radius: 50px;
  margin-left: 10px;
}

.credit {
  text-align: left;
}

.knowus {
  background-image: url('../img/band/bw-playing.jpg');
}

.knowus h2 {
  color: #fff;
}

h1.arrow,
.intro h1.arrow {
  font-size: 20px;
}

.donations h1, .intro h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.donations h1 small, .intro h1 small {
}

.knowus h2 {
  font-size: 20px;
}

.knowus h2::after {
  display: none;
}

.knowus .chat {
  background-color: #fff;
  padding: 15px;
}

.lang-pt .es, .lang-pt .en {
  display: none;
}

.lang-es .pt, .lang-es .en {
  display: none;
}

.lang-en .es, .lang-en .pt {
  display: none;
}

.langs {
  float: right;
  margin: 25px 25px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.langs .social-btn {
  background-color: #f5f5f5;
  width: 52px;
  height: 52px;
  line-height: 52px;
}

.langs .social-btn:hover {
  background: #3dc9b3;
}

.lang-pt .pt-btn,
.lang-es .es-btn,
.lang-en .en-btn {
  background-color: #242830;
}

.subscribe {
  padding: 70px 0;
}

.subscribe label {
  color: #fff;
  font-size: 16px;
}

.subscribe input[type="radio"] {
  vertical-align: top;
  margin: 3px 2px 0 0;
}

.subscribe input[type="text"] {
  min-width: 300px;
}

@media (max-width: 991px) {
  .subscribe ul li {
    text-align: left;
  }
}

.field-lang {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.field-header {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.intro p {
  margin: 2em 0;
}

.donations {
  background: #9569D5;
}

.donations .contact-details {
  margin: 40px 0;
}

h1.arrow {
  color: #333;
}

h1.arrow.arrow-light {
  background-image: url('../img/h1-bg-light.png');
}

.donations h1 small {
  color: #f5f5f5;
}

.donations .notes {
  color: #f5f5f5;
  font-size: 16px;
}

footer .credit {
  text-align: right;
  padding-right: 30px;
}

.share .a2a_kit a {
  display: inline-block;
  float: none;
  margin: auto;
}

.fb-like {
  margin-left: 30px;
}

/****
HASHTAG SECTION
****/

.hashtag {
  background: #C62828;
}

.hashtag h1 {
  color: #f5f5f5;
}

.hashtag .tag {
  color: #222;
}

/****
 CLIPPING
****/
.clipping ul {
 list-style: none;
}

.clipping li {
  height: 150px;
  vertical-align: middle;
  line-height: 150px;
}

li.vox img {
  background-color: #004864;
  padding: 10px;
}

li.rac img {
  background-color: #005381;
  padding: 10px;
}

.clipping .name {
  display: none;
}
